#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  background-color: lightgray;
  padding: 1rem;
  border-radius: 10px;
}

footer {
  text-align: center;
  color: gray;
}

.socials > a {
  padding: 1rem;
}

h1{
  color: navy;
}

.about-section {
  text-align: center;
  margin: 2rem auto;
  color: white;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.project-card{
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
}

.project-card > p {
  color: black;
}

.skill-list{
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.skill-list li {
  padding: 0.5rem 1rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  background: #f9f9f9;
  color: navy;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: auto;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background: #222;
  color: white;
}

.nav-header{
  display: none;
}

.header a {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
  color: lightblue;
}

.layout{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-main{
  flex: 1;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

@media (min-width: 1024) {
  .layout-main {
    padding: 4rem 2rem;
  }
}

@media (min-width: 768px) {
  .nav-header{
    display: flex;
    gap: 2rem;
  }
}