#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  background-color: lightgray;
  padding: 1rem;
}

footer {
  text-align: center;
  color: gray;
}

h1{
  color: navy;
}

.about-section {
  text-align: center;
  margin: 2rem auto;
  color: #333;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.project-card{
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
}

.project-card > p {
  color: black;
}

.skills-section ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 0;
  color: black;
}

.skills-section li {
  background: #f0f0f0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}